@import 'mixins';
@import 'classes';
@import 'variables';
* {
    box-sizing: border-box;
    line-height: normal;
    word-break: break-word;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

a,
a:active,
a:hover,
a:focus {
    text-decoration: none;
    color: inherit;
}